{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Impressum info section - Reader/Bot mode #}

<section class="section info">
    <article>
        <section>
            <h3>{{ 'impressum.info.technical.title' | text('auto') }}</h3>

            <h4>{{ 'impressum.info.technical.co2.title' | text('auto') }}</h4>
            <p>
                {{ 'impressum.info.technical.co2.hosting' | text('auto') }}<br>
                <span style="color: var(--color-success);">{{ 'impressum.info.technical.co2.energy' | text('auto') }}</span><br>
                {{ 'impressum.info.technical.co2.iso' | text('auto') }}<br>
                {{ 'impressum.info.technical.co2.dsgvo' | text('auto') }}
            </p>

            <h4>{{ 'impressum.info.technical.accessibility.title' | text('auto') }}</h4>
            <p>{{ 'impressum.info.technical.accessibility.text' | text('auto') }}</p>

            <h4>{{ 'impressum.info.technical.browsers.title' | text('auto') }}</h4>
            <p>
                {{ 'impressum.info.technical.browsers.modern' | text('auto') }}<br><br>
                {{ 'impressum.info.technical.browsers.compatibility' | text('auto') }}<br>
                {{ 'impressum.info.technical.browsers.webkit' | text('auto') }}<br>
                {{ 'impressum.info.technical.browsers.blink' | text('auto') }}<br>
                {{ 'impressum.info.technical.browsers.quantum' | text('auto') }}
            </p>
        </section>

        <section>
            <h3>{{ 'impressum.info.legal.title' | text('auto') }}</h3>

            <h4>{{ 'impressum.info.legal.liability.title' | text('auto') }}</h4>
            <p>{{ 'impressum.info.legal.liability.text' | text('auto') }}</p>

            <h4>{{ 'impressum.info.legal.links.title' | text('auto') }}</h4>
            <p>{{ 'impressum.info.legal.links.text' | text('auto') }}</p>

            <h4>{{ 'impressum.info.legal.odr.title' | text('auto') }}</h4>
            <p>
                {{ 'impressum.info.legal.odr.text' | text('auto') }}
                <a href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a>
            </p>
            <p>{{ 'impressum.info.legal.odr.participation' | text('auto') }}</p>
        </section>

        <section>
            <h3>{{ 'impressum.info.misc.title' | text('auto') }}</h3>

            <h4>{{ 'impressum.info.technical.cookies.title' | text('auto') }}</h4>
            <p>{{ 'impressum.info.technical.cookies.text' | text('auto') }}</p>

            <h4>{{ 'impressum.info.misc.detection.title' | text('auto') }}</h4>
            <dl>
                <dt>{{ 'impressum.info.misc.detection.language' | text('auto') }}</dt>
                <dd>{{ client.lang }}</dd>
                <dt>{{ 'impressum.info.misc.detection.monitor' | text('auto') }}</dt>
                <dd>{{ client.device_type }} {% if client.viewport_width %}({{ client.viewport_width }}×{{ client.viewport_height }}){% endif %}</dd>
                {% if client.dpr %}
                <dt>{{ 'impressum.info.misc.detection.pixelratio' | text('auto') }}</dt>
                <dd>{{ client.dpr }}</dd>
                {% endif %}
            </dl>

            <h4>{{ 'impressum.info.misc.update.title' | text('auto') }}</h4>
            <p>{{ page.latest_update or ('impressum.info.misc.update.fallback' | text('auto')) }}</p>
        </section>
    </article>
</section>
