{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Knowledge Sub-Page Layout #}

{% extends layout("page") %}

{# Page configuration via pageconf() - replaces system.csv metadata #}
{{ pageconf("pagekey", "actix-web") }}
{{ pageconf("pageroute", "wissen/actix-web") }}
{{ pageconf("pagetitle", "ACTIX_WEB_META_TITLE") }}
{{ pageconf("pagedescription", "ACTIX_WEB_META_DESCRIPTION") }}

{% block content %}
    {% set topic = "ACTIX_WEB" %}
    {% include organism("knowledge-term") %}
{% endblock %}
