{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Knowledge Sub-Page Layout: Actix Web #}

{% set pagekey = "actix-web" %}

{% extends layout("page") %}

{% block content %}
    {% set topic = "ACTIX_WEB" %}
    {% include organism("knowledge-term") %}
{% endblock %}
