{# Landing Philosophy Organism #}
<section class="section philosophy padding-y-5 padding-x-4">
    <article class="breakbox grid-1">
        <div class="section-header">
            <h2>{{ 'LANDING_PHILOSOPHY_TITLE' | text('auto') }}</h2>
            <p class="description">{{ 'LANDING_PHILOSOPHY_SUBTITLE' | text('auto') }}</p>
        </div>
        <div class="philosophy-content">
            <p>{{ 'LANDING_PHILOSOPHY_CONTENT' | text('auto') }}</p>
        </div>
    </article>
</section>