{# Landing Philosophy Organism #}
<section class="section philosophy padding-y-5 padding-x-4">
    <article class="breakbox grid-1">
        <div class="section-header">
            <h2>{{ 'landing.philosophy.title' | text('auto') }}</h2>
            <p class="description">{{ 'landing.philosophy.subtitle' | text('auto') }}</p>
        </div>
        <div class="philosophy-content">
            <p>{{ 'landing.philosophy.content' | text('auto') }}</p>
        </div>
    </article>
</section>