{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Landing Philosophy Organism - Reader/bot mode - simplified semantic structure #}

<section>
    <blockquote>
        {{ 'LANDING_PHILOSOPHY_QUOTE' | text('auto') }}
    </blockquote>
</section>