{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Knowledge Sub-Page Layout: Agility #}

{% set pagekey = "agility" %}

{% extends layout("page") %}

{% block content %}
    {% include organism("knowledge-term") %}
{% endblock %}
