{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Portfolio Layout - Component-based simple layout #}

{% set pagekey = "portfolio" %}

{% extends layout("page") %}

{% block content %}
<section class="section padding-y-3 padding-x-4">
    <article class="breakbox grid-1">
        <div class="section-header padding-left-2">
            <h1>{{ 'portfolio.title' | text('auto') }}</h1>
        </div>
    </article>
</section>
{% endblock %}
