{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Knowledge Sub-Page Layout: Lost in the Middle #}

{% set pagekey = "lost-in-the-middle" %}

{% extends layout("page") %}

{% block content %}
    {% set topic = "knowledge-term.lost-in-the-middle" %}
    {% include organism("knowledge-term") %}
{% endblock %}
