{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Knowledge Sub-Page Layout: Bastille #}

{% set pagekey = "bastille" %}

{% extends layout("page") %}

{% block content %}
    {% set topic = "BASTILLE" %}
    {% include organism("knowledge-term") %}
{% endblock %}
