{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Knowledge Sub-Page Layout: API #}

{% set pagekey = "api" %}

{% extends layout("page") %}

{% block content %}
    {% set topic = "API" %}
    {% include organism("knowledge-term") %}
{% endblock %}
