{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Knowledge Sub-Page Layout: Apache #}

{% set pagekey = "apache" %}

{% extends layout("page") %}

{% block content %}
    {% set topic = "APACHE" %}
    {% include organism("knowledge-term") %}
{% endblock %}
