{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Knowledge Sub-Page Layout: Apache License #}

{% set pagekey = "apache-license" %}

{% extends layout("page") %}

{% block content %}
    {% set topic = "knowledge-term.apache-license" %}
    {% include organism("knowledge-term") %}
{% endblock %}
