{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Knowledge index section - Reader/Bot mode (1 column) #}

<section class="section index">
    <article>
        <div class="knowledge-index knowledge-index-reader">
            {# A #}
            <div class="index-group">
                <h3>A</h3>
                <ul>
                    <li><a href="/{{ client.lang }}/{{ 'actix-web' | route('auto') }}/">{{ 'knowledge.term.actix.web' | text('auto') }}</a></li>
                    <li><a href="/{{ client.lang }}/{{ 'aeo' | route('auto') }}/">{{ 'knowledge.term.aeo' | text('auto') }}</a></li>
                    <li><a href="/{{ client.lang }}/{{ 'agility' | route('auto') }}/">{{ 'knowledge.term.agility' | text('auto') }}</a></li>
                    <li><a href="/{{ client.lang }}/{{ 'ai-visibility' | route('auto') }}/">{{ 'knowledge.term.ai.visibility' | text('auto') }}</a></li>
                    <li><a href="/{{ client.lang }}/{{ 'apache' | route('auto') }}/">{{ 'knowledge.term.apache' | text('auto') }}</a></li>
                    <li><a href="/{{ client.lang }}/{{ 'apache-license' | route('auto') }}/">{{ 'knowledge.term.apache.license' | text('auto') }}</a></li>
                    <li><a href="/{{ client.lang }}/{{ 'api' | route('auto') }}/">{{ 'knowledge.term.api' | text('auto') }}</a></li>
                </ul>
            </div>

            {# B #}
            <div class="index-group">
                <h3>B</h3>
                <ul>
                    <li><a href="/{{ client.lang }}/{{ 'bastille' | route('auto') }}/">{{ 'knowledge.term.bastille' | text('auto') or ("Bastille") }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.blink' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.bsd' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.browser' | text('auto') }}</a></li>
                </ul>
            </div>

            {# C #}
            <div class="index-group">
                <h3>C</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.cicd' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.container' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.cookie' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.css3' | text('auto') }}</a></li>
                </ul>
            </div>

            {# D #}
            <div class="index-group">
                <h3>D</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.database' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.deployment' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.devops' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.docker' | text('auto') }}</a></li>
                    {% if client.lang == 'de' %}
                    <li><a href="#">{{ 'knowledge.term.gdpr' | text('auto') }}</a></li>
                    {% endif %}
                </ul>
            </div>

            {# E #}
            <div class="index-group">
                <h3>E</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.enterprise' | text('auto') }}</a></li>
                </ul>
            </div>

            {# F #}
            <div class="index-group">
                <h3>F</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.freebsd' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.frontend' | text('auto') }}</a></li>
                </ul>
            </div>

            {# G #}
            <div class="index-group">
                <h3>G</h3>
                <ul>
                    {% if client.lang == 'en' %}
                    <li><a href="#">{{ 'knowledge.term.gdpr' | text('auto') }}</a></li>
                    {% endif %}
                    <li><a href="/{{ client.lang }}/{{ 'geo' | route('auto') }}/">{{ 'knowledge.term.geo' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.git' | text('auto') }}</a></li>
                </ul>
            </div>

            {# H #}
            <div class="index-group">
                <h3>H</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.html5' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.https' | text('auto') }}</a></li>
                </ul>
            </div>

            {# I #}
            <div class="index-group">
                <h3>I</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.iso' | text('auto') }}</a></li>
                </ul>
            </div>

            {# J #}
            <div class="index-group">
                <h3>J</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.jail' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.javascript' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.join' | text('auto') }}</a></li>
                </ul>
            </div>

            {# K #}
            <div class="index-group">
                <h3>K</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.kubernetes' | text('auto') }}</a></li>
                </ul>
            </div>

            {# L #}
            <div class="index-group">
                <h3>L</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.lighthouse' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.linux' | text('auto') }}</a></li>
                    <li><a href="/{{ client.lang }}/{{ 'lost-in-the-middle' | route('auto') }}/">{{ 'knowledge.term.lost.in.the.middle' | text('auto') }}</a></li>
                </ul>
            </div>

            {# M #}
            <div class="index-group">
                <h3>M</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.macos' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.microservice' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.mit' | text('auto') }}</a></li>
                </ul>
            </div>

            {# N #}
            <div class="index-group">
                <h3>N</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.nginx' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.nodejs' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.nosql' | text('auto') }}</a></li>
                </ul>
            </div>

            {# O #}
            <div class="index-group">
                <h3>O</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.oklch' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.oslevel' | text('auto') }}</a></li>
                </ul>
            </div>

            {# P #}
            <div class="index-group">
                <h3>P</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.php' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.pipeline' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.python' | text('auto') }}</a></li>
                </ul>
            </div>

            {# Q #}
            <div class="index-group">
                <h3>Q</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.quantum' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.query' | text('auto') }}</a></li>
                </ul>
            </div>

            {# R #}
            <div class="index-group">
                <h3>R</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.react' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.rollback' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.rsync' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.rust' | text('auto') }}</a></li>
                </ul>
            </div>

            {# S #}
            <div class="index-group">
                <h3>S</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.scaling' | text('auto') }}</a></li>
                    <li><a href="/{{ client.lang }}/{{ 'seo' | route('auto') }}/">{{ 'knowledge.term.seo' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.server' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.sql' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.svg' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.systemd' | text('auto') }}</a></li>
                </ul>
            </div>

            {# T #}
            <div class="index-group">
                <h3>T</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.tco' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.jinja' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.tracking' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.typescript' | text('auto') }}</a></li>
                </ul>
            </div>

            {# U #}
            <div class="index-group">
                <h3>U</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.unix' | text('auto') }}</a></li>
                </ul>
            </div>

            {# V #}
            <div class="index-group">
                <h3>V</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.vendor.lockin' | text('auto') }}</a></li>
                </ul>
            </div>

            {# W #}
            <div class="index-group">
                <h3>W</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.wcag' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'knowledge.term.webkit' | text('auto') }}</a></li>
                </ul>
            </div>

            {# Z #}
            <div class="index-group">
                <h3>Z</h3>
                <ul>
                    <li><a href="#">{{ 'knowledge.term.zfs' | text('auto') }}</a></li>
                </ul>
            </div>
        </div>
    </article>
</section>
