{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Knowledge index section - Reader/Bot mode (1 column) #}

<section class="section index">
    <article>
        <div class="knowledge-index knowledge-index-reader">
            {# A #}
            <div class="index-group">
                <h3>A</h3>
                <ul>
                    <li><a href="{{ 'KNOWLEDGE_ACTIX_WEB_URL' | text('auto') }}">{{ 'KNOWLEDGE_TERM_ACTIX_WEB' | text('auto') }}</a></li>
                    <li><a href="{{ 'KNOWLEDGE_AEO_URL' | text('auto') }}">{{ 'KNOWLEDGE_TERM_AEO' | text('auto') }}</a></li>
                    <li><a href="{{ 'KNOWLEDGE_AGILITY_URL' | text('auto') }}">{{ 'KNOWLEDGE_TERM_AGILITY' | text('auto') }}</a></li>
                    <li><a href="{{ 'KNOWLEDGE_AI_VISIBILITY_URL' | text('auto') }}">{{ 'KNOWLEDGE_TERM_AI_VISIBILITY' | text('auto') }}</a></li>
                    <li><a href="{{ 'KNOWLEDGE_APACHE_URL' | text('auto') }}">{{ 'KNOWLEDGE_TERM_APACHE' | text('auto') }}</a></li>
                    <li><a href="{{ 'KNOWLEDGE_APACHE_LICENSE_URL' | text('auto') }}">{{ 'KNOWLEDGE_TERM_APACHE_LICENSE' | text('auto') }}</a></li>
                    <li><a href="{{ 'KNOWLEDGE_API_URL' | text('auto') }}">{{ 'KNOWLEDGE_TERM_API' | text('auto') }}</a></li>
                </ul>
            </div>

            {# B #}
            <div class="index-group">
                <h3>B</h3>
                <ul>
                    <li><a href="{{ 'KNOWLEDGE_BASTILLE_URL' | text('auto') }}">{{ 'KNOWLEDGE_TERM_BASTILLE' | text('auto') or ("Bastille") }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_BLINK' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_BSD' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_BROWSER' | text('auto') }}</a></li>
                </ul>
            </div>

            {# C #}
            <div class="index-group">
                <h3>C</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_CICD' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_CONTAINER' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_COOKIE' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_CSS3' | text('auto') }}</a></li>
                </ul>
            </div>

            {# D #}
            <div class="index-group">
                <h3>D</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_DATABASE' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_DEPLOYMENT' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_DEVOPS' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_DOCKER' | text('auto') }}</a></li>
                    {% if client.lang == 'de' %}
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_GDPR' | text('auto') }}</a></li>
                    {% endif %}
                </ul>
            </div>

            {# E #}
            <div class="index-group">
                <h3>E</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_ENTERPRISE' | text('auto') }}</a></li>
                </ul>
            </div>

            {# F #}
            <div class="index-group">
                <h3>F</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_FREEBSD' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_FRONTEND' | text('auto') }}</a></li>
                </ul>
            </div>

            {# G #}
            <div class="index-group">
                <h3>G</h3>
                <ul>
                    {% if client.lang == 'en' %}
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_GDPR' | text('auto') }}</a></li>
                    {% endif %}
                    <li><a href="{{ 'KNOWLEDGE_GEO_URL' | text('auto') }}">{{ 'KNOWLEDGE_TERM_GEO' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_GIT' | text('auto') }}</a></li>
                </ul>
            </div>

            {# H #}
            <div class="index-group">
                <h3>H</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_HTML5' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_HTTPS' | text('auto') }}</a></li>
                </ul>
            </div>

            {# I #}
            <div class="index-group">
                <h3>I</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_ISO' | text('auto') }}</a></li>
                </ul>
            </div>

            {# J #}
            <div class="index-group">
                <h3>J</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_JAIL' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_JAVASCRIPT' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_JOIN' | text('auto') }}</a></li>
                </ul>
            </div>

            {# K #}
            <div class="index-group">
                <h3>K</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_KUBERNETES' | text('auto') }}</a></li>
                </ul>
            </div>

            {# L #}
            <div class="index-group">
                <h3>L</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_LIGHTHOUSE' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_LINUX' | text('auto') }}</a></li>
                    <li><a href="{{ 'KNOWLEDGE_LOST_IN_THE_MIDDLE_URL' | text('auto') }}">{{ 'KNOWLEDGE_TERM_LOST_IN_THE_MIDDLE' | text('auto') }}</a></li>
                </ul>
            </div>

            {# M #}
            <div class="index-group">
                <h3>M</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_MACOS' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_MICROSERVICE' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_MIT' | text('auto') }}</a></li>
                </ul>
            </div>

            {# N #}
            <div class="index-group">
                <h3>N</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_NGINX' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_NODEJS' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_NOSQL' | text('auto') }}</a></li>
                </ul>
            </div>

            {# O #}
            <div class="index-group">
                <h3>O</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_OKLCH' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_OSLEVEL' | text('auto') }}</a></li>
                </ul>
            </div>

            {# P #}
            <div class="index-group">
                <h3>P</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_PHP' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_PIPELINE' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_PYTHON' | text('auto') }}</a></li>
                </ul>
            </div>

            {# Q #}
            <div class="index-group">
                <h3>Q</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_QUANTUM' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_QUERY' | text('auto') }}</a></li>
                </ul>
            </div>

            {# R #}
            <div class="index-group">
                <h3>R</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_REACT' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_ROLLBACK' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_RSYNC' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_RUST' | text('auto') }}</a></li>
                </ul>
            </div>

            {# S #}
            <div class="index-group">
                <h3>S</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_SCALING' | text('auto') }}</a></li>
                    <li><a href="{{ 'KNOWLEDGE_SEO_URL' | text('auto') }}">{{ 'KNOWLEDGE_TERM_SEO' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_SERVER' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_SQL' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_SVG' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_SYSTEMD' | text('auto') }}</a></li>
                </ul>
            </div>

            {# T #}
            <div class="index-group">
                <h3>T</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_TCO' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_JINJA' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_TRACKING' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_TYPESCRIPT' | text('auto') }}</a></li>
                </ul>
            </div>

            {# U #}
            <div class="index-group">
                <h3>U</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_UNIX' | text('auto') }}</a></li>
                </ul>
            </div>

            {# V #}
            <div class="index-group">
                <h3>V</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_VENDOR_LOCKIN' | text('auto') }}</a></li>
                </ul>
            </div>

            {# W #}
            <div class="index-group">
                <h3>W</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_WCAG' | text('auto') }}</a></li>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_WEBKIT' | text('auto') }}</a></li>
                </ul>
            </div>

            {# Z #}
            <div class="index-group">
                <h3>Z</h3>
                <ul>
                    <li><a href="#">{{ 'KNOWLEDGE_TERM_ZFS' | text('auto') }}</a></li>
                </ul>
            </div>
        </div>
    </article>
</section>