{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Knowledge index section - Mouse interaction mode (5 columns) #}

<section class="section index padding-y-3 padding-x-4">
    <article class="breakbox">
        <div class="knowledge-index knowledge-index-mouse">
            {# A #}
            <div class="index-group">
                <h3 class="index-letter">A</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="{{ 'knowledge.actix.web.url' | text('auto') }}" class="index-term">{{ 'knowledge.term.actix.web' | text('auto') }}</a>
                    <a href="{{ 'knowledge.aeo.url' | text('auto') }}" class="index-term">{{ 'knowledge.term.aeo' | text('auto') }}</a>
                    <a href="{{ 'knowledge.agility.url' | text('auto') }}" class="index-term">{{ 'knowledge.term.agility' | text('auto') }}</a>
                    <a href="{{ 'knowledge.ai.visibility.url' | text('auto') }}" class="index-term">{{ 'knowledge.term.ai.visibility' | text('auto') }}</a>
                    <a href="{{ 'knowledge.apache.url' | text('auto') }}" class="index-term">{{ 'knowledge.term.apache' | text('auto') }}</a>
                    <a href="{{ 'knowledge.apache.license.url' | text('auto') }}" class="index-term">{{ 'knowledge.term.apache.license' | text('auto') }}</a>
                    <a href="{{ 'knowledge.api.url' | text('auto') }}" class="index-term">{{ 'knowledge.term.api' | text('auto') }}</a>
                </div>
            </div>

            {# B #}
            <div class="index-group">
                <h3 class="index-letter">B</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="{{ 'knowledge.bastille.url' | text('auto') }}" class="index-term">{{ 'knowledge.term.bastille' | text('auto') or ("Bastille") }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.blink' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.bsd' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.browser' | text('auto') }}</a>
                </div>
            </div>

            {# C #}
            <div class="index-group">
                <h3 class="index-letter">C</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.cicd' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.container' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.cookie' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.css3' | text('auto') }}</a>
                </div>
            </div>

            {# D #}
            <div class="index-group">
                <h3 class="index-letter">D</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.database' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.deployment' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.devops' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.docker' | text('auto') }}</a>
                    {% if client.lang == 'de' %}
                    <a href="#" class="index-term">{{ 'knowledge.term.gdpr' | text('auto') }}</a>
                    {% endif %}
                </div>
            </div>

            {# E #}
            <div class="index-group">
                <h3 class="index-letter">E</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.enterprise' | text('auto') }}</a>
                </div>
            </div>

            {# F #}
            <div class="index-group">
                <h3 class="index-letter">F</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.freebsd' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.frontend' | text('auto') }}</a>
                </div>
            </div>

            {# G #}
            <div class="index-group">
                <h3 class="index-letter">G</h3>
                <div class="index-terms flex-y gap-1">
                    {% if client.lang == 'en' %}
                    <a href="#" class="index-term">{{ 'knowledge.term.gdpr' | text('auto') }}</a>
                    {% endif %}
                    <a href="{{ 'knowledge.geo.url' | text('auto') }}" class="index-term">{{ 'knowledge.term.geo' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.git' | text('auto') }}</a>
                </div>
            </div>

            {# H #}
            <div class="index-group">
                <h3 class="index-letter">H</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.html5' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.https' | text('auto') }}</a>
                </div>
            </div>

            {# I #}
            <div class="index-group">
                <h3 class="index-letter">I</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.iso' | text('auto') }}</a>
                </div>
            </div>

            {# J #}
            <div class="index-group">
                <h3 class="index-letter">J</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.jail' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.javascript' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.join' | text('auto') }}</a>
                </div>
            </div>

            {# K #}
            <div class="index-group">
                <h3 class="index-letter">K</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.kubernetes' | text('auto') }}</a>
                </div>
            </div>

            {# L #}
            <div class="index-group">
                <h3 class="index-letter">L</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.lighthouse' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.linux' | text('auto') }}</a>
                    <a href="{{ 'knowledge.lost.in.the.middle.url' | text('auto') }}" class="index-term">{{ 'knowledge.term.lost.in.the.middle' | text('auto') }}</a>
                </div>
            </div>

            {# M #}
            <div class="index-group">
                <h3 class="index-letter">M</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.macos' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.microservice' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.mit' | text('auto') }}</a>
                </div>
            </div>

            {# N #}
            <div class="index-group">
                <h3 class="index-letter">N</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.nginx' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.nodejs' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.nosql' | text('auto') }}</a>
                </div>
            </div>

            {# O #}
            <div class="index-group">
                <h3 class="index-letter">O</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.oklch' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.oslevel' | text('auto') }}</a>
                </div>
            </div>

            {# P #}
            <div class="index-group">
                <h3 class="index-letter">P</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.php' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.pipeline' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.python' | text('auto') }}</a>
                </div>
            </div>

            {# Q #}
            <div class="index-group">
                <h3 class="index-letter">Q</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.quantum' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.query' | text('auto') }}</a>
                </div>
            </div>

            {# R #}
            <div class="index-group">
                <h3 class="index-letter">R</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.react' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.rollback' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.rsync' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.rust' | text('auto') }}</a>
                </div>
            </div>

            {# S #}
            <div class="index-group">
                <h3 class="index-letter">S</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.scaling' | text('auto') }}</a>
                    <a href="{{ 'knowledge.seo.url' | text('auto') }}" class="index-term">{{ 'knowledge.term.seo' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.server' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.sql' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.svg' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.systemd' | text('auto') }}</a>
                </div>
            </div>

            {# T #}
            <div class="index-group">
                <h3 class="index-letter">T</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.tco' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.jinja' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.tracking' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.typescript' | text('auto') }}</a>
                </div>
            </div>

            {# U #}
            <div class="index-group">
                <h3 class="index-letter">U</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.unix' | text('auto') }}</a>
                </div>
            </div>

            {# V #}
            <div class="index-group">
                <h3 class="index-letter">V</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.vendor.lockin' | text('auto') }}</a>
                </div>
            </div>

            {# W #}
            <div class="index-group">
                <h3 class="index-letter">W</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.wcag' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'knowledge.term.webkit' | text('auto') }}</a>
                </div>
            </div>

            {# Z #}
            <div class="index-group">
                <h3 class="index-letter">Z</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'knowledge.term.zfs' | text('auto') }}</a>
                </div>
            </div>
        </div>
    </article>
</section>