{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Knowledge index section - Mouse interaction mode (5 columns) #}

<section class="section index padding-y-3 padding-x-4">
    <article class="breakbox">
        <div class="knowledge-index knowledge-index-mouse">
            {# A #}
            <div class="index-group">
                <h3 class="index-letter">A</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="{{ 'KNOWLEDGE_ACTIX_WEB_URL' | text('auto') }}" class="index-term">{{ 'KNOWLEDGE_TERM_ACTIX_WEB' | text('auto') }}</a>
                    <a href="{{ 'KNOWLEDGE_AEO_URL' | text('auto') }}" class="index-term">{{ 'KNOWLEDGE_TERM_AEO' | text('auto') }}</a>
                    <a href="{{ 'KNOWLEDGE_AGILITY_URL' | text('auto') }}" class="index-term">{{ 'KNOWLEDGE_TERM_AGILITY' | text('auto') }}</a>
                    <a href="{{ 'KNOWLEDGE_AI_VISIBILITY_URL' | text('auto') }}" class="index-term">{{ 'KNOWLEDGE_TERM_AI_VISIBILITY' | text('auto') }}</a>
                    <a href="{{ 'KNOWLEDGE_APACHE_URL' | text('auto') }}" class="index-term">{{ 'KNOWLEDGE_TERM_APACHE' | text('auto') }}</a>
                    <a href="{{ 'KNOWLEDGE_APACHE_LICENSE_URL' | text('auto') }}" class="index-term">{{ 'KNOWLEDGE_TERM_APACHE_LICENSE' | text('auto') }}</a>
                    <a href="{{ 'KNOWLEDGE_API_URL' | text('auto') }}" class="index-term">{{ 'KNOWLEDGE_TERM_API' | text('auto') }}</a>
                </div>
            </div>

            {# B #}
            <div class="index-group">
                <h3 class="index-letter">B</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="{{ 'KNOWLEDGE_BASTILLE_URL' | text('auto') }}" class="index-term">{{ 'KNOWLEDGE_TERM_BASTILLE' | text('auto') or ("Bastille") }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_BLINK' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_BSD' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_BROWSER' | text('auto') }}</a>
                </div>
            </div>

            {# C #}
            <div class="index-group">
                <h3 class="index-letter">C</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_CICD' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_CONTAINER' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_COOKIE' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_CSS3' | text('auto') }}</a>
                </div>
            </div>

            {# D #}
            <div class="index-group">
                <h3 class="index-letter">D</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_DATABASE' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_DEPLOYMENT' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_DEVOPS' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_DOCKER' | text('auto') }}</a>
                    {% if client.lang == 'de' %}
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_GDPR' | text('auto') }}</a>
                    {% endif %}
                </div>
            </div>

            {# E #}
            <div class="index-group">
                <h3 class="index-letter">E</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_ENTERPRISE' | text('auto') }}</a>
                </div>
            </div>

            {# F #}
            <div class="index-group">
                <h3 class="index-letter">F</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_FREEBSD' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_FRONTEND' | text('auto') }}</a>
                </div>
            </div>

            {# G #}
            <div class="index-group">
                <h3 class="index-letter">G</h3>
                <div class="index-terms flex-y gap-1">
                    {% if client.lang == 'en' %}
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_GDPR' | text('auto') }}</a>
                    {% endif %}
                    <a href="{{ 'KNOWLEDGE_GEO_URL' | text('auto') }}" class="index-term">{{ 'KNOWLEDGE_TERM_GEO' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_GIT' | text('auto') }}</a>
                </div>
            </div>

            {# H #}
            <div class="index-group">
                <h3 class="index-letter">H</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_HTML5' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_HTTPS' | text('auto') }}</a>
                </div>
            </div>

            {# I #}
            <div class="index-group">
                <h3 class="index-letter">I</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_ISO' | text('auto') }}</a>
                </div>
            </div>

            {# J #}
            <div class="index-group">
                <h3 class="index-letter">J</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_JAIL' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_JAVASCRIPT' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_JOIN' | text('auto') }}</a>
                </div>
            </div>

            {# K #}
            <div class="index-group">
                <h3 class="index-letter">K</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_KUBERNETES' | text('auto') }}</a>
                </div>
            </div>

            {# L #}
            <div class="index-group">
                <h3 class="index-letter">L</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_LIGHTHOUSE' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_LINUX' | text('auto') }}</a>
                    <a href="{{ 'KNOWLEDGE_LOST_IN_THE_MIDDLE_URL' | text('auto') }}" class="index-term">{{ 'KNOWLEDGE_TERM_LOST_IN_THE_MIDDLE' | text('auto') }}</a>
                </div>
            </div>

            {# M #}
            <div class="index-group">
                <h3 class="index-letter">M</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_MACOS' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_MICROSERVICE' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_MIT' | text('auto') }}</a>
                </div>
            </div>

            {# N #}
            <div class="index-group">
                <h3 class="index-letter">N</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_NGINX' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_NODEJS' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_NOSQL' | text('auto') }}</a>
                </div>
            </div>

            {# O #}
            <div class="index-group">
                <h3 class="index-letter">O</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_OKLCH' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_OSLEVEL' | text('auto') }}</a>
                </div>
            </div>

            {# P #}
            <div class="index-group">
                <h3 class="index-letter">P</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_PHP' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_PIPELINE' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_PYTHON' | text('auto') }}</a>
                </div>
            </div>

            {# Q #}
            <div class="index-group">
                <h3 class="index-letter">Q</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_QUANTUM' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_QUERY' | text('auto') }}</a>
                </div>
            </div>

            {# R #}
            <div class="index-group">
                <h3 class="index-letter">R</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_REACT' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_ROLLBACK' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_RSYNC' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_RUST' | text('auto') }}</a>
                </div>
            </div>

            {# S #}
            <div class="index-group">
                <h3 class="index-letter">S</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_SCALING' | text('auto') }}</a>
                    <a href="{{ 'KNOWLEDGE_SEO_URL' | text('auto') }}" class="index-term">{{ 'KNOWLEDGE_TERM_SEO' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_SERVER' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_SQL' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_SVG' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_SYSTEMD' | text('auto') }}</a>
                </div>
            </div>

            {# T #}
            <div class="index-group">
                <h3 class="index-letter">T</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_TCO' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_JINJA' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_TRACKING' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_TYPESCRIPT' | text('auto') }}</a>
                </div>
            </div>

            {# U #}
            <div class="index-group">
                <h3 class="index-letter">U</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_UNIX' | text('auto') }}</a>
                </div>
            </div>

            {# V #}
            <div class="index-group">
                <h3 class="index-letter">V</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_VENDOR_LOCKIN' | text('auto') }}</a>
                </div>
            </div>

            {# W #}
            <div class="index-group">
                <h3 class="index-letter">W</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_WCAG' | text('auto') }}</a>
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_WEBKIT' | text('auto') }}</a>
                </div>
            </div>

            {# Z #}
            <div class="index-group">
                <h3 class="index-letter">Z</h3>
                <div class="index-terms flex-y gap-1">
                    <a href="#" class="index-term">{{ 'KNOWLEDGE_TERM_ZFS' | text('auto') }}</a>
                </div>
            </div>
        </div>
    </article>
</section>