{% extends layout("page") %}
{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Blog page #}

{# Page configuration via pageconf() - replaces system.csv metadata #}
{{ pageconf("pagekey", "blog") }}
{{ pageconf("pageroute", "blog") }}
{{ pageconf("pagetitle", "BLOG_META_TITLE") }}
{{ pageconf("pagedescription", "BLOG_META_DESCRIPTION") }}

{% block content %}
<section class="section padding-y-3 padding-x-4">
    <article class="breakbox grid-1">
        <div class="section-header padding-left-2">
            <h1>{{ 'blog.title' | text('auto') }}</h1>
        </div>
    </article>
</section>
{% endblock %}