{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Impressum page license section - Touch interaction mode #}

<section class="section page-license padding-y-2 padding-x-2">
    <article class="breakbox grid-1 gap-2">
        <div class="section-header padding-left-1">
            <h2>{{ 'impressum.page.license.title' | text('auto') }}</h2>
        </div>

        <div class="grid-1 gap-2">
            <div class="license-block">
                <h3>{{ 'impressum.page.license.copyright.title' | text('auto') }}</h3>
                <p>{{ 'impressum.page.license.copyright.text' | text('auto') }}</p>
            </div>

            <div class="license-block">
                <h3>{{ 'impressum.page.license.code.title' | text('auto') }}</h3>
                <p>{{ 'impressum.page.license.code.text' | text('auto') }}</p>
            </div>
        </div>
    </article>
</section>