{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Impressum page license section - Reader/bot mode #}

<section class="section page-license">
    <article>
        <h2>{{ 'impressum.page.license.title' | text('auto') }}</h2>

        <section>
            <h3>{{ 'impressum.page.license.copyright.title' | text('auto') }}</h3>
            <p>{{ 'impressum.page.license.copyright.text' | text('auto') }}</p>
        </section>

        <section>
            <h3>{{ 'impressum.page.license.code.title' | text('auto') }}</h3>
            <p>{{ 'impressum.page.license.code.text' | text('auto') }}</p>
        </section>
    </article>
</section>