{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Impressum page license section - Reader/bot mode #}

<section class="section page-license">
    <article>
        <h2>{{ 'IMPRESSUM_PAGE_LICENSE_TITLE' | text('auto') }}</h2>

        <section>
            <h3>{{ 'IMPRESSUM_PAGE_LICENSE_COPYRIGHT_TITLE' | text('auto') }}</h3>
            <p>{{ 'IMPRESSUM_PAGE_LICENSE_COPYRIGHT_TEXT' | text('auto') }}</p>
        </section>

        <section>
            <h3>{{ 'IMPRESSUM_PAGE_LICENSE_CODE_TITLE' | text('auto') }}</h3>
            <p>{{ 'IMPRESSUM_PAGE_LICENSE_CODE_TEXT' | text('auto') }}</p>
        </section>
    </article>
</section>