{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Impressum licenses section - Reader/bot mode #}

<section class="section licenses">
    <article>
        <h2>{{ 'IMPRESSUM_LICENSES_TITLE' | text('auto') }}</h2>

        <section>
            <h3>{{ 'IMPRESSUM_LICENSES_WEBSITE_TITLE' | text('auto') }}</h3>
            <p>{{ 'IMPRESSUM_LICENSES_WEBSITE_TEXT' | text('auto') }}</p>
        </section>

        <section>
            <h3>{{ 'IMPRESSUM_LICENSES_INTER_TITLE' | text('auto') }}</h3>
            <p>{{ 'IMPRESSUM_LICENSES_INTER_TEXT' | text('auto') }}</p>
        </section>

        <section>
            <h3>{{ 'IMPRESSUM_LICENSES_FEATHER_TITLE' | text('auto') }}</h3>
            <p>{{ 'IMPRESSUM_LICENSES_FEATHER_TEXT' | text('auto') }}</p>
        </section>

        <section>
            <h3>{{ 'IMPRESSUM_LICENSES_SVG_TITLE' | text('auto') }}</h3>
            <p>{{ 'IMPRESSUM_LICENSES_SVG_TEXT' | text('auto') }}</p>
        </section>
    </article>
</section>