{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Impressum licenses section - Reader/bot mode #}

<section class="section licenses">
    <article>
        <h2>{{ 'impressum.licenses.title' | text('auto') }}</h2>

        <section>
            <h3>{{ 'impressum.licenses.website.title' | text('auto') }}</h3>
            <p>{{ 'impressum.licenses.website.text' | text('auto') }}</p>
        </section>

        <section>
            <h3>{{ 'impressum.licenses.inter.title' | text('auto') }}</h3>
            <p>{{ 'impressum.licenses.inter.text' | text('auto') }}</p>
        </section>

        <section>
            <h3>{{ 'impressum.licenses.feather.title' | text('auto') }}</h3>
            <p>{{ 'impressum.licenses.feather.text' | text('auto') }}</p>
        </section>

        <section>
            <h3>{{ 'impressum.licenses.svg.title' | text('auto') }}</h3>
            <p>{{ 'impressum.licenses.svg.text' | text('auto') }}</p>
        </section>
    </article>
</section>