{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Knowledge Sub-Page Layout: AEO #}

{% set pagekey = "aeo" %}

{% extends layout("page") %}

{% block content %}
    {% set topic = "knowledge-term.aeo" %}
    {% include organism("knowledge-term") %}
{% endblock %}
