{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Landing Contact Organism - Reader Device Template #}

<section id="contact">
    <h2>{{ 'LANDING_CONTACT_TITLE' | text('auto') }}</h2>
    <p>{{ 'LANDING_CONTACT_SUBTITLE' | text('auto') }}</p>
    <p>Email: {{ 'LANDING_CONTACT_EMAIL' | text('auto') }}</p>
    <p>{{ 'LANDING_CONTACT_AVAILABILITY' | text('auto') }}</p>
</section>