{# Copyright (c) 2025 Vivian Voss - All rights reserved #}
{# Knowledge Sub-Page Layout: GEO #}

{% set pagekey = "geo" %}

{% extends layout("page") %}

{% block content %}
    {% set topic = "knowledge-term.geo" %}
    {% include organism("knowledge-term") %}
{% endblock %}
